<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='firstlayer'>
        <div>
            <select name="User" id="User"> 
                <option value=""></option>
                <option value="Lukas">Lukas</option>
                <option value="Emilis">Emilis</option>
            </select>
        </div>
        <div>
            <div class="Centered Centereddiv">
                <div class="MainBody1" id="Skolininkai">
                    <div>
                        Kristupas
                    </div>
                    <div>
                        200 eur
                    </div>
                </div>
                <div class="MainBody2">
                    <label for="Name">Name:</label>
                    <input type="text" id="Name" name="Name">
                    </br>
                    <label for="Suma">Suma:</label>
                    <input type="text" id="Suma" name="Suma">
                    </br>
                    <button onclick="Submit()">wtf</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="Client.js"></script>
</html>