<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class='firstlayer'>
        <div>
            <select name="User" id="User" class="UserSelectionBox"> 
                <option value=""></option>
                <option value="Lukas">Lukas</option>
                <option value="Emilis">Emilis</option>
            </select>
        </div>
        <div>
            <div class="Centered Centereddiv">
                <div class="MainBody1" id="Skolininkai">
                    <div class="listText right">
                        No User Selected
                    </div>
                    <div class="red listText">
                    </div>
                </div>
                <div class="MainBody2">
                    <div class="inputDiv">
                        <label for="Name" class="submitboxlabel">Name:</label>
                        <input type="text" id="Name" name="Name" class="submitbox">
                        </br>
                        </br>
                        </br>
                        <label for="Suma" class="submitboxlabel">Suma:</label>
                        <input type="number" id="Suma" name="Suma" class="submitbox">
                        </br>
                        </br>
                        </br>
                        <button onclick="Submit()" class="submitbutton">Submit</button>
                    </div>
                    <div class="incomingDiv" id="incomingDiv">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="Client.js"></script>
</html>